@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

.container {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    font-family: Arial, sans-serif;
    background: url('About.jpg') center center/cover no-repeat;
}

.navbar {
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.col-md-6 {
    margin-bottom: 30px;
}

.img-fluid {
    border-radius: 50%;
}

.footer {
    background-color: #343a40;
    color: #fff;
    margin-top: 40px;
    padding: 20px 0;
}

.footer h2 {
    font-size: 20px;
    margin: 10px 0;
}

.footer p {
    margin: 0;
}